#status-message {
  font-size: 75%;
}

#ojs-plot {
  width: 60%;
}

.onlysig {
  display: none;
}

#sideNav .navbar-brand {
  min-height: 2em;
}

.invalidinput {
  background-color: rgba(255,0,0,.15);
}

.commentinput {
  background-color: rgba(0,0,255,.1);
}

button {
  margin: auto;
}

dd {
  margin-left: 1em;
}

.nott {
  text-transform: none;
}

.pcurveinstr {
  color: white;
}

img.appfig {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loadingoverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: .5;
  background-color: black;
}

#loadingoverlay img {
  left: 25%;
  top: 10%;
  position: absolute;
  width: 25%;
}


#displayurl {
    display: none;
}

div.psignificant {
  background-color: salmon;
  color: white;
}

div.pmarginal {
  background-color: peachpuff;
  color: black;
}

div.pvaltab {
  border-radius: 5px;
  padding: 2px;
}

textarea.TApcurve {
  width: 90%;
  height: 21lh;
  padding:5px;
  background-color: rgba(0, 0, 0, 0);
  white-space: pre;
  font-family: monospace;
  font-size: 66%;
  overflow-wrap: normal;
  overflow-x: scroll;
  overscroll-behavior: none;
  color: black;
  margin-right: auto;
  margin-left: auto;
}

textarea.TApcurve:disabled {
  background-color: #ccc
}


.table {
    border-radius: 10px;
    overflow:hidden;
}

.table {
  font-size: 14px;
  font-weight: bold;
}

.table td {
    font-family: "Lucida Console", "Courier New", monospace;
}

.tooltip0 {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.tooltip0 .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  /*margin-left: -205px;*/
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip0:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
